[Unit]
Description=Generate shootsh leaderboard HTML
After=network.target

[Service]
Type=oneshot
User=shootsh
Group=shootsh

WorkingDirectory=/var/www/shootsh
ExecStart=/usr/local/bin/generate_shootsh_html.sh

CapabilityBoundingSet=

ReadOnlyPaths=/var/lib/shootsh
ReadWritePaths=/var/www/shootsh

NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
PrivateNetwork=yes
ProtectSystem=strict
ProtectHome=yes

ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectKernelLogs=yes

ProtectClock=yes
ProtectHostname=yes
ProtectProc=invisible
ProcSubset=pid

IPAddressDeny=any
RestrictAddressFamilies=none
RestrictRealtime=yes
RestrictSUIDSGID=yes

LockPersonality=yes
MemoryDenyWriteExecute=yes
RemoveIPC=yes

[Install]
WantedBy=multi-user.target
